---
import "./src/styles/global.css";
import '../styles/home.scss'
import ThreeColumns from "../layouts/ThreeColumns.astro";
import Card  from "../components/Card/Card.astro";
import BigCard  from "../components/Card/BigCard.astro";
import {smallCards} from "../utils/test.js";
---

<ThreeColumns page="/">
  <section class="header">
     <header>
       <img src="/images/logo.webp" alt="logo">
       <a href="">How It Works</a>
     </header>
  </section>

   <section class="top-card-section">
    <article class="top-card-big-container">
     <div class="top-card-title-container">
      <img src="/images/clock-icon.svg" alt="clock">  
      <h3 class="top-card-title">top pulls</h3>
     </div>
        <div class="card-wrapper">
        <!-- card -->
        {
          smallCards.map(el => (
            <Card 
            location={el.location}
            userName={el.userName}
            boxName={el.boxName}
            cardName={el.cardName}
            percentage={el.percentage}
            />
          ))
        }
          <!-- card -->
        </div>
    </article>
   </section>

   <section id="totalCard" class="featured-box-total">
   
    <div class="featured-box-container">
      <div class="featured-box__title-container">
        <h3 class="featured-box-title">Featured Boxes</h3>
        <a href="#">View all &rarr;</a> 
      </div>
      <div class="featured-card-wrapper">

       <BigCard
        background="/images/bigcardback.webp" 
        icon="/images/diamond.svg" 
        mainPic="/images/card2.webp" 
        tag="popular"
        cardTitle="Legendary Hunt"
        cardAmount="379"
        />

       <BigCard cardAmount="379" cardTitle="Celebrations"  background="/images/bigcardback2.webp" icon="/images/diamond.svg" />
       <BigCard cardAmount="379" cardTitle="Celebrations" tag="new" background="/images/bigcardback.webp" icon="/images/diamond.svg" />
       <BigCard
       background="/images/bigcardback.webp" 
       icon="/images/diamond.svg" 
       mainPic="/images/card2.webp" 
       tag="popular"
       cardTitle="Legendary Hunt"
       cardAmount="380"
       />
       <BigCard cardAmount="379" cardTitle="Legendary Hunt" tag="new" background="/images/bigcardback2.webp" icon="/images/diamond.svg" />
      </div>
    </div>

  </section>

    <div class="separator"></div>
    {/* <!-- other section --> */}
   <section id="totalCard" class="featured-box-total">
   
    <div class="featured-box-container">
      <div class="featured-box__title-container">
        <h3 class="featured-box-title">Starter Boxes</h3>
        <a href="#">View all &rarr;</a> 
      </div>
      <div class="featured-card-wrapper">
        <BigCard
        background="/images/bigcardback.webp" 
        icon="/images/diamond.svg" 
        mainPic="/images/card2.webp" 
        tag="popular"
        cardTitle="Legendary Hunt"
        cardAmount="379"
        />

       <BigCard cardAmount="379" cardTitle="Celebrations"  background="/images/bigcardback2.webp" icon="/images/diamond.svg" />
       <BigCard cardAmount="379" cardTitle="Celebrations" tag="new" background="/images/bigcardback.webp" icon="/images/diamond.svg" />
       <BigCard
       background="/images/bigcardback.webp" 
       icon="/images/diamond.svg" 
       mainPic="/images/card2.webp" 
       tag="new"
       cardTitle="Legendary Hunt"
       cardAmount="379"
       />
       <BigCard cardAmount="379" cardTitle="Legendary Hunt" tag="new" background="/images/bigcardback2.webp" icon="/images/diamond.svg" />
      </div>
    </div>
  </section>
</ThreeColumns>
<script src="../utils/test.js"></script>